.container {
    position: relative;
}

.titleContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    position: relative;
}

.titleContainer::after { 
    content: '';
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 0.3rem;
    background-color: var(--blue);
    border-radius: 10px;
}
